*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.main-flex{
display: flex;
justify-content: space-around;
}
.main{
    margin-top: 100px;
    border: none;
    
}
.main-img{
    width: 30px;
    height: 30px;

}
.m-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #17212B;
}
.m-left-list{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.graph-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.graph-list{
    display: flex;
    align-items: center;
}
.graph-input{
    border: 2px solid grey;
    background-color: #17212B;
}
.graph-item{
    padding: 10px;
}
.box{
    width: 500px;
    height: 700px;
    background: dimgray;
    opacity: 0.7;
    text-align: center;
    background-color: #17212B;
}
.box-title{
    position: relative;
    top: 50%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.m-right-img{
    width: 20x;
    height: 20px;
    margin-left: 20px;
    
}
.m-right{
    width: 300px;
}
.m-right-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.m-right-item{

    padding-bottom: 10px;
}
.m-right-text{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-left: 10px;
}

.m-left{
    position: relative;
    height: fit-content;
}
.graph-input{
    margin-left: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 200px;
    padding: 10px;
    margin-left: 22px;

}

.graph-list{
    border: 2px solid lightgrey;
    margin-left: 4px;
    padding-right: 30px;
    margin-bottom: 5px;
}
.m-left-list{
    position: relative;
    padding-top: 10px;
}
.m-right{
    border: 2px solid grey;
    height: fit-content;
    padding-right: 10px;
}
.main-flex{
    border: 2px solid darkslateblue;
    height: fit-content;
    background-color: #17212B;
}
.graph-list{
    border: none;
}
.graph-input{
    border: none;
}
.box{
    background-color: #0E1621;
}
.graph{
    background-color: #0E1621;
}
.graph{
    padding-top: 20px;
}
.graph-text{
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}
.graph-subtext{
    color: dimgrey;
    font-size: 15px;
}
.m-left-item{
    color: dimgray;
}
.box-left{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #172128;
}
.box-img{
    width: 33px;
    padding-left: 15px;
}
.box-left-text{
    color: lightblue;
}
.box-left-subtext{
    color: grey;
    font-size: 15px;
}
.box-image{
    width: 20px;
}
.box-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #17212B;
}
.box-footer-list{
    display: flex;

}
.box-footer-item{
    padding: 5px;
}
.box-center{
    height: 620px;
}
.box-footer-input{
    border: none;
    background-color: #17212B;
    padding: 10px;
    height: 20px;

}
.m-right{
    border: none;
    padding-top: 10px;
}
.chart-center{
    height: 285px;
}
.chart-img{
    width: 18px;
    
    padding-bottom: 20px;
    position: relative;
    top: 10px;
}
.chart-footer{
    height: 35px;
    border: 1px solid darkslategrey;
    width: 105%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top:38px;
}

.chart-hr{
    position: relative;
    top: -18px;
    left: 2px;
}
.main-img{
    width: 22px;
    height: 22px;
    margin-top: 12px;
}
body{
background-color: lightcyan;
}

.m-right-img-active{
display: none;
}

.chart-footer-active{
position: relative;
top: 310px;
}

.border-active{
    padding-bottom: 0;
    border-bottom: 2px solid white;
    transition: 0.7s;
}
.right-emoji{
    width: 0px;
   
}
.right-emoji-active{
    width: 90px;
    padding-bottom: 15px;
}
.right-gif{
    width: 0px;
}
.right-gif-active{
    width: 80px;
    padding-bottom: 20px;
}
.graph{
    overflow-y: scroll;
    height: 700px;

    scroll-snap-align: 20px;
}
::-webkit-scrollbar{
   display: none;
}

input{
    color: whitesmoke;
}
.s-top{
    background-color: rgb(43, 43, 190);
    width: 330px;
    padding: 10px 20px;
}
.s-top-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 13px;
}

.s-top-text{
    color: lightblue;
    margin-bottom: 5px;
}

.s-top-subtext{
    color: lightgrey;
}

.s-img{
    width: 35px;
    margin-left: 10px;
}
.s-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.s-text{
    color: darkslategrey;
    margin-left: 20px;
    margin-right: 10px;
}
.s-btn{
    padding: 5px;
    border: none;
    background-color: lightseagreen;
}
.s-center{
    background-color: darkseagreen;
    width: 330px;
    padding: 10px;
    height: 530px;
}
.settings{
    position: fixed;
    top: 130px;
    left: 460px;
   display: none;
   transition: 20s;

}
.new{
    display: block;
    animation-name: settings;
    animation-duration: 1s;
}
@keyframes settings {
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0px);
    }
}
.m-right-text{
    color: lightcyan;
}

.box-footer-input{
    width: 300px;
}